/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}



body
{background:azure;}



.main_wrapper{
	height: auto;
	width: auto;
	margin:auto;
	background-color:#006;
}

.header_wrapper {
	height: 100px;
	width: auto;
	margin:auto;
	
}
#logo {
	float:left;
	width:100;
	 height:100;
}
#banner {
	float:left;
	width:auto;
	 height:100;
}s


.content_wrapper{
	width:auto;
	
	margin:auto;
	background:pink;
}
#content_area{
	width:auto;
	
	float:left;
	background:azure;
}
.menu_bar {
	height: 50px;
	width: auto;
	background-color: #900;	
}

	

	
#sidebar {
	background-color: #006;
	
	width: 200px;
	float: left;
	}
	

#footer {
	background-color: #900;
	clear: both;
	height: 60px;
	width: auto;
}
#menu {
	line-height: 50px;
	margin: 0px;
	padding: 0px;
	float: left;
		
}
#menu li {
	list-style: none;
	display: inline;
	word-spacing: normal;
	
}

#menu a {
	font-family: calibri;
	font-size: 20px;
   margin-right:50px;
   margin-left:10px;
	font-weight:normal;
	color: #FFFFFF;
	text-decoration: none;
	float: left;
	height: 37px;
	width:auto;
	background-repeat: no-repeat;
}
}
#menu a:hover{color:blue;
font-weight:bolder;
}


#form {
	padding: 0px;
	float: right;
	line-height: 50px;
}
#sidebar_title {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 22px;
	color: #000;
	line-height:50px;
	background-color: #FFF;
	text-align:center;
	height:50px;
}
#cats {
	text-align:center;
}

#cats li {
	
	list-style-type: none;margin:5px;
}

#cats a {
	color: #FFF;
	margin: 5px;
	padding: 8px;
	font-size:16px;
	font-family:"Lucida Sans Unicode", "Lucida Grande";
	text-decoration: none; sans-serif;
}

#cats a:hover{color:blue;
font-weight:bolder;}


#products_box {
	text-align: center;
	width: 780px;
	margin-bottom: 10px;
	margin-left: 30px;
}

#single_product {
	padding: 10px;
	float: left;
	margin-left: 30px;
	
}
#single_product img{border:2px solid black;

}

#shopping_cart {
	background-color:#006;
	height: 50px;
	width: auto;
	color:white;
}



